@charset "UTF-8";

:root {
    --color02: rgb(253, 184, 184);
    --color01: lightcoral;
    --color03: #009494;
}

@font-face {
    font-family: 'caprasimo';
    src: url(fonts/Caprasimo/Caprasimo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url(fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: lightcoral;
    font-family: 'outfit', sans-serif;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

header {
    background-color: var(--color02);
    padding: 20px 50px 5px 50px;
    position: sticky;
    top: 0;
    box-shadow: 1px 1px 10px black;
}

header div > h1 {
    color: var(--color03);
    font-family: 'caprasimo', serif;
    font-weight: normal;
    text-shadow: 1px 1px 1px black;
}

header div > h1 > a {
    text-decoration: none;
    color: var(--color03);
    text-shadow: 1px 1px 1px black;
}

.reg {
    font-size: 0.6em;
    vertical-align: super;
}

header div > nav {
    margin-left: auto;
}

header div > nav > a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 0px 10px;
}


main section {
    min-width: 300px;
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px 80px;
}

main section > h1 {
    color: var(--color03);
    font-family: 'caprasimo', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 10vw;
    text-shadow: 1px 1px 1px black;
}

main section > div {
    background-color: rgb(41, 41, 41);
    height: 550px;
    margin-top: 30px;
    border-radius: 20px;

}