@charset "UTF-8";

:root {
    --color01: #fdb8b8;
    --color02: #f08080;
    --color03: #009494;

    --bgcolor: #f08080;
    --headercolor: #fdb8b8;
    --titlecolor: #009494;
}

@font-face {
    font-family: 'caprasimo';
    src: url(fonts/Caprasimo/Caprasimo-Regular.ttf) format('truetype');
}

@font-face {
    font-family: 'outfit';
    src: url(fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--bgcolor);
    font-family: 'outfit', sans-serif;
    position: relative;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 25px;
}

header {
    background-color: var(--headercolor);
    padding: 20px 50px 5px 50px;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.719);
    z-index: 1000;
}

header div > h1 {
    color: var(--titlecolor);
    font-family: 'caprasimo', serif;
    font-weight: normal;
    text-shadow: 1px 1px 1px black;
}

.abreviado {
    display: none;
}

#abr {
    display: none;
}

header div > h1 > a {
    text-decoration: none;
    color: var(--titlecolor);
    text-shadow: 1px 1px 1px black;
}

.reg {
    font-size: 0.6em;
    vertical-align: super;
}

header div > nav {
    margin-left: auto;
}

header div > nav > a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    padding: 0px 10px;
}

header div > nav > a:hover {
    text-decoration: underline;
    color: var(--color03);
}

main section {
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 80px;
}

main section > h1 {
    color: var(--color03);
    font-family: 'caprasimo', sans-serif;
    font-weight: normal;
    text-align: center;
    font-size: 10vw;
    text-shadow: 1px 1px 1px black;
}

main section > div {
    background-color: black;
    margin: 30px auto;
    border-radius: 20px;
    width: 90%;
    max-height: 500px;
    aspect-ratio: 1/1;
    overflow: hidden;
}

main section.parte-2 {
    padding: 80px 20px ;
    text-align: center;
    font-size: 3vw;
    line-height: 1.6;
}

main section.parte-2 > p {
    font-weight: bold;
    color: #252525;
    padding-bottom: 50px;
}

main section.parte-2 > h2 {
    padding-bottom: 60px;
}

main section.parte-2 > h2 > .marca {
    font-weight: normal;
    font-family: 'caprasimo', sans-serif;
}

main section.parte-2 > a {
    text-decoration: none;
    font-weight: 600;
    color: black;
    background-color: var(--color01);
    border-radius: 6px;
    padding: 10px 20px;
}

main section.parte-2 > a:hover {
    transition: 0.5s;
    background-color: var(--color03);
    color: white;
}

@media (max-width: 768px) {
  header {
    padding: 15px 20px;
    flex-direction: column;
  }

  .titulo-completo {
    display: none;
  }

  .reg {
    display: none;
  }

  .abreviado {
    display: inline;
  }

  #abr {
    display: inline;
  }

  nav {
    margin-top: 10px;
  }
  main section > h1 {
    font-size: 11vw;
  }

  main section.parte-2 {
    font-size: 5vw;
    padding: 40px 10px;
  }
}