@charset "UTF-8";

@media screen and (max-width: 768px){

    header {
        display: flex;
        justify-content: space-between;
    }

    #titulo-header .titulo-completo, #regcompleto {
        display: none;
    }
    
    #titulo-header .titulo-menor, #regmenor {
        display: inline-block;
        font-size: 1.4em;
        padding: 0;
    }

    #nav {
        display: none;
    }

    #menu {
        display: inline-block;
        padding-top: 15px;
        font-size: 3em;
        cursor: pointer;
    }

    main section ul {
        display: none;
        background-color: var(--headercolor);
        width: 100vw;
        padding: 10px;
        margin: 0;
    }

    main section ul li {
        list-style-type: none;
        padding-bottom: 10px;
    }

    main section ul li a {
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    main section ul li a:hover {
        text-decoration: underline;
        color: var(--titlecolor);
    }

    main section div {
        background: url(../imagens/test.jpg) no-repeat center center;
        background-size: cover;
        background-color: black;
        border-radius: 400px;
    }
}

