@charset "UTF-8";

@media screen and (max-width: 768px){

    header {
        display: flex;
        justify-content: space-between;
    }

    #titulo-header .titulo-completo, #regcompleto {
        display: none;
    }
    
    #titulo-header .titulo-menor, #regmenor {
        display: inline-block;
        font-size: 0.8em;
        padding: 0;
    }

    #nav {
        display: none;
    }

    #menu {
        display: inline-block;
        padding-top: 15px;
        font-size: 1.8em;
        cursor: pointer;
    }

    #menuNav {
        display: block;
        max-height: 0px;
        overflow: hidden;
        transition: max-height 0.4s ease;
    }

    #menuNav.ativo {
        max-height: 300px;
    }

    main section ul {
        position: sticky;
        z-index: 999;
        top: 0;
        background-color: var(--headercolor);
        width: 100vw;
        margin: 0;
        box-shadow: 0 2px 10px #000000b7;
    }

    main section ul li {
        list-style-type: none;
        padding: 20px;
    }

    main section ul li a {
        color: black;
        text-decoration: none;
        font-weight: 600;
    }

    main section ul li a:hover {
        text-decoration: underline;
        color: var(--titlecolor);
    }

    main section #img-principal {
        background: url(../imagens/test.jpg) no-repeat center center;
        background-size: cover;
        background-color: black;
        border-radius: 400px;
        width: 300px;
        height: 300px;
    }

    main section.parte-1 {
        padding: 0px;
    }

    main section h1 {
        padding: 30px 30px 0px 30px;
    }

    main section.parte-2 {
        padding-top: 20px;
    }

    .parte-2 .scroll-container {
        display: flex;
        overflow-x: auto;
        gap: 10px;
        padding-top: 50px;
        -webkit-overlow-scrolling: touch;
    }

    .parte-2 .scroll-container::-webkit-scrollbar {
        display: none;
    }

    .parte-2 .scroll-container img {
        width: 200px;
        height: 200px;
        border-radius: 20px;
        flex: 0 0 auto;
        object-fit: cover;
        scroll-snap-align: center;
    }
}

