@charset "UTF-8";

    :root {
        --bgcolor: #f08080;
        --headercolor: #fdb8b8;
        --titlecolor: #009494;
    }

    @font-face {
        font-family: 'caprasimo';
        src: url(../../fonts/Caprasimo/Caprasimo-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'outfit';
        src: url(../../fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
        font-display: swap;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }


    body {
        background: linear-gradient(to bottom, var(--bgcolor) 60%, var(--headercolor));
        background-repeat: no-repeat;
        font-family: "outfit", 'Times New Roman', Times, serif;
    }

    header {
        z-index: 3;
        top: 0;
        position: sticky;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        min-width: 300px;
        background-color: var(--headercolor);
        box-shadow: 1px 4px 10px #00000071;
    }

    .topo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menuNav {
        z-index: 1;

        
        transform: translateY(-200%);
        transition: transform 0.3s ease;

        padding: 20px 40px;
        background-color: var(--headercolor);
        width: 100vw;
        box-shadow: -2px 6px 6px 0px #00000071;
    }

    .menuNav.ativo {
        transform: translateY(0);
    }

    #menuNav-pc {
        display: none;
    }

    #logo-pc {
        display: none;
    }

    #logo-pc a {
        text-decoration: none;
    }

    #btnMenu {
        align-self: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 2em;
    }

    .logo {
        font-family: 'caprasimo','Times New Roman', Times, serif;
        font-weight: lighter;
        color: var(--titlecolor);
        text-shadow: 1px 1px 1px black;
        font-size: 1.6em;
    }

    #logo-mobile {
        font-size: 2.5em;
    }

    #logo-mobile a {
        text-decoration: none;
        color: var(--titlecolor);
    }

    .reg {
        font-size: 0.8em;
        vertical-align: super;
    }

    header ul li {
        z-index: 0;
        list-style-type: none;
        line-height: 1.6;
    }

    header ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    header ul li a:hover {
        text-decoration: underline;
        color: var(--titlecolor);
    }

    section {
        display: flex;
        flex-flow: column nowrap;
        align-content: center;
        height: 100vh;
        padding-top: 50px;
    }

    section div h1 {
        font-weight: 700;
        padding: 20px;
    }

    section div h1 .marca {
        font-size: 1.5em;
        font-weight: 100;
        font-family: 'caprasimo', sans-serif;
        color: var(--titlecolor);
        text-shadow: 1px 1px 1px black;
    }

    section .img-back {
        display: none;
        background: url(../../imagens/foto-bolo.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        justify-self: center;
        height: 300px;
        width: 100vw;
        margin-bottom: 10px;
    }

    section div h2 {
        padding: 0px 20px;
    }

    section div .instagram-logo {
        display: flex;
        align-content: center;
        justify-content: center;
    }

    section div i {
        padding: 10px;
        font-size: 3em;
        align-self: center;
        justify-self: center;
        text-align: center;
        margin: auto;
    }

    section div a {
        text-decoration: none;
        color: black;
    }

    section div p {
        padding: 20px;
    }


    footer {
        text-align: center;
        font-size: 0.8em;
    }

    @media screen and (min-width: 840px) {

        .topo #btnMenu {
            display: none;
        }

        .topo #logo-mobile {
            display: none;
        }

        .topo #logo-pc {
            display: block;
        }

        .topo #menuNav-pc {
            display: flex;
        }
        
        .topo #menuNav-pc ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

        body {
            height: 100vh;
        }

        section {
            background-color: var(--headercolor);
            width: 90vw;
            height: 80vh;
            margin: auto;
            border-radius: 0px 0px 20px 20px;
            box-shadow: 0px 0px 20px 0px #00000023;
            align-content: center;
            flex-direction: row;
            flex-wrap: nowrap;
            align-items: flex-start;
            padding-top: 10px;
        }

        section a {
            padding-left: 10px;
        }

        section p {
            width: 300px;
        }

        section .end {
            display: flex;
            height: 100%;
            align-items: center;
        }

        footer {
            padding: 10px;
            position: absolute;
            bottom: 0;
            left: 50%;
            transform: translate(-50%);
        }

    }