@charset "UTF-8";

    :root {
        --bgcolor: #f08080;
        --headercolor: #fdb8b8;
        --titlecolor: #009494;
    }

    @font-face {
        font-family: 'caprasimo';
        src: url(../../fonts/Caprasimo/Caprasimo-Regular.ttf) format('truetype');
    }

    @font-face {
        font-family: 'outfit';
        src: url(../../fonts/Outfit/Outfit-VariableFont_wght.ttf) format('truetype');
        font-display: swap;
    }

    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background: linear-gradient(to bottom, var(--bgcolor) 60%, var(--headercolor));
        background-repeat: no-repeat;
        font-family: "outfit", 'Times New Roman', Times, serif;
    }

    header {
        z-index: 3;
        top: 0;
        position: sticky;

        display: flex;
        flex-direction: column;
        align-items: center;
        padding: 20px 40px;
        height: 100px;
        min-width: 300px;
        background-color: var(--headercolor);
        box-shadow: 1px 4px 10px #00000071;
    }

    .topo {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .menuNav {
        z-index: 1;

        
        transform: translateY(-200%);
        transition: transform 0.3s ease;

        padding: 20px 40px;
        background-color: var(--headercolor);
        width: 100vw;
        box-shadow: -2px 6px 6px 0px #00000071;
    }

    .menuNav.ativo {
        transform: translateY(0);
    }

    #menuNav-pc {
        display: none;
    }

    #logo-pc {
        display: none;
    }

    #logo-pc a {
        text-decoration: none;
    }

    #btnMenu {
        align-self: center;
        cursor: pointer;
        font-weight: 500;
        font-size: 2em;
    }

    .logo {
        font-family: 'caprasimo','Times New Roman', Times, serif;
        font-weight: lighter;
        color: var(--titlecolor);
        text-shadow: 1px 1px 1px black;
        font-size: 1.6em;
    }

    #logo-mobile {
        font-size: 2.5em;
    }

    #logo-mobile a {
        text-decoration: none;
        color: var(--titlecolor);
    }

    .reg {
        font-size: 0.8em;
        vertical-align: super;
    }

    header ul li {
        z-index: 0;
        list-style-type: none;
        line-height: 1.6;
    }

    header ul li a {
        text-decoration: none;
        color: black;
        font-weight: bold;
    }

    header ul li a:hover {
        text-decoration: underline;
        color: var(--titlecolor);
    }

    #section-1 {
        display: flex;
        flex-direction: column;
    }

    #section-1 h1 {
        font-family: 'caprasimo','Times New Roman', Times, serif;
        font-weight: 100;
        color: var(--titlecolor);
        text-shadow: 1px 1px 1px black;
        padding: 50px 27px;
    }

    #section-1 .top {
        display: flex;
        flex-direction: column;
    }

    #section-1 .top p {
        align-self: center;
        padding-bottom: 20px;
    }
    #section-1 p #marca {
        font-family: 'caprasimo', Arial, Helvetica, sans-serif;
    }

    #section-1 .container {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: repeat(4, 400px);
    }

    #section-1 .container div p {
        font-family: 'outfit', Arial, Helvetica, sans-serif;
        font-weight: 700;
        padding-bottom: 10px; 
    }

    #section-1 .container div p #meses {
        color: #00000093;
    }

    #section-1 .container .card {
        padding: 10px;
    }

    #section-1 .container .card img {
        width: 100%;
        height: 350px;
        object-fit: cover;
        border-radius: 8px;
    }

    #section-1 .container #foto1 {
        grid-area: 1 / 2 / 2 / 3;
        display: flex;
        flex-direction: column;
    }

    #section-1 .container #foto2 {
        grid-area: 2 / 2 / span 1 / span 1;
    }

    #section-1 .container #foto3 {
        grid-area: 3 / 2 / span 1 / span 1;
    }

    #section-1 .container #foto4 {
        grid-area: 4 / 2 / span 1 / span 1;
    }

    #section-2 {
        display: grid;
        grid-template-columns: 20px auto 20px;
        grid-template-rows: 50px 400px 50px;
        padding: 30px 0px;
    }

    #section-2 h2 {
        grid-area: 1 / 2 / span 1 / span 1;
        justify-self: center;
        align-self: center;
        color: #00000093;
        font-weight: 400;
    }

    #section-2 div {
        grid-area: 2 / 2 / span 1 / span 1;
        padding: 10px;
    }

    #section-2 div img {
        width: 100%;
        height: 370px;
        object-fit: cover;
        border-radius: 8px;
    }

    #section-2 .img {
        z-index: 1;
        transform: translateX(-150%);
        transition: transform 0.6s ease;
        position: relative;
    }

    #section-2 .img.ativo {
        transform: translateX(0%);
    }

    #section-2 #btn {
        grid-area: 3 / 2 / span 1 / span 1;
        background-color: rgba(0, 0, 0, 0.137);
        color: white;
        width: 20%;
        border-radius: 49%;
        border: 0px;
        cursor: pointer;
        justify-self: center;
        transition: background-color 0.6s;
    }

    #section-2 #btn:hover {
        background-color: var(--titlecolor);
        color: white;
    }

    #section-2 #btn i {
        font-size: 2em;
    }

    #section-3 {
        display: flex;
        flex-direction: column;
        max-width: 90%;
        background-color: #d69393;
        border-radius: 8px 8px 0px 0px ;
        padding-top: 10px;
        margin: auto;
    }

    #section-3 h1 {
        text-align: center;
        color: #00000093;
        font-weight: 400;
    }

    #section-3 p {
        text-align: center;
        color: black;
        font-weight: 600;
        padding: 30px;
    }

    #section-3 a {
        align-self: center;
        text-decoration: none;
        color: black;
        background-color: var(--headercolor);
        padding: 10px;
        border-radius: 5px;
        margin-bottom: 30px;
        font-weight: bold;;
    }

    #section-3 a:hover {
        background-color: var(--titlecolor);
        color:white;
        transition: 0.8s;
    }

    footer {
        text-align: center;
        font-size: 0.8em;
    }

    @media screen and (min-width: 840px) {

        .topo #btnMenu {
            display: none;
        }

        .topo #logo-mobile {
            display: none;
        }

        .topo #logo-pc {
            display: block;
        }

        .topo #menuNav-pc {
            display: flex;
        }
        
        .topo #menuNav-pc ul {
            display: flex;
            flex-direction: row;
            gap: 20px;
            align-items: center;
            margin: 0;
            padding: 0;
            list-style: none;
        }

    }